{
  "settings": {
    "extends": "standard",
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          "tsx"
        ],
        "paths": [
          "src"
        ]
      }
    }
  }
}